venv/
*.pyc
.idea/
!regform/static/
db.sqlite3
churchform_env/
churchform/__pycache__/
multiselectfield/__pycache__/
multiselectfield/db/__pycache__/
multiselectfield/forms/__pycache__/
regform/__pycache__/
