#step-pos{
    display: none;
}

.complete{
    position: relative;
    top: 50vh;
    text-align: center;
    font-size: 5vw;
}

#app-title{
	color: darkgoldenrod;
	font-weight: 500px;
	letter-spacing: 2px;
	text-shadow: 2px 1px 0 blue, 2px 1px 0 red;

}

.control-label {
	margin-bottom: -2px;
}

#cruxifix{
    float: right;
}

form{
    margin: 3vh 0;
}

.container{
    margin: 3vh auto;
}

#successful{
    margin: 3vh 0;
}
